#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$Qr7LOX2B$C8xEYt1VdyQ1D1WM54vLF.
# System language
lang en_US
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx


# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=eth33  --onboot yes
# Reboot after installation
reboot
# System timezone
timezone Asia/Shanghai
# Use network installation
url --url="http://192.168.3.85/cobbler/ks_mirror/centos7.7-x86_64/"
# System bootloader configuration
bootloader --location=mbr --driveorder=sda   
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="ext2" --ondisk=sda --size=200
part / --asprimary --fstype="ext4" --grow --ondisk=sda --size=20480

%packages
@base
net-tools
tree
vim
wget

%end


#%addon com_redhat_kdump --enable --reserve-mb='auto'
%addon com_redhat_kdump --disable 
