[Unit]
Description=NSQD
After=network.target

[Service]
WorkingDirectory=/usr/local/nsq
ExecStart=/usr/local/bin/nsqd -http-address 10.252.52.191:4151 -tcp-address 10.252.52.191:4150 -lookupd-tcp-address 10.252.52.191:4160 -broadcast-address 10.252.52.191
ExecReload=/bin/kill -HUP $MAINPID
Type=simple
KillMode=process
Restart=on-failure
RestartSec=10s
User=root

[Install]
WantedBy=multi-user.target
