[Unit]
Description=NSQLookupD
After=network.target

[Service]
WorkingDirectory=/usr/local/nsq
ExecStart=/usr/local/bin/nsqlookupd -tcp-address 10.252.52.191:4160 -http-address 10.252.52.191:4161
ExecReload=/bin/kill -HUP $MAINPID
Type=simple
KillMode=process
Restart=on-failure
RestartSec=10s
User=root

[Install]
WantedBy=multi-user.target
